@import 'config';
@import 'respon';

main{
     .card{
        width: 55%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 460px;
        gap:2rem;
        background: $White;
        border-radius: 10px;
        margin:10rem auto;
       .img1{
            background-image: url(../images/image-product-desktop.jpg);
            background-size: cover;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
       }
       .info{
        margin-top: 2rem;
        width: 85%;
        

        .head{
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            font-family: $mont;
            font-size: 1rem;
            color: $Dark-grayish-blue;
        }
        h1{
            font-family: $fraun;
            font-size: 2rem;
            padding-top: 1.5rem;
        }
        .para{
            margin-block: 1.5rem;
            color:$Dark-grayish-blue;
            line-height: 1.5;
            font-family: $mont;
            font-weight: 00;
        }
        h2{
            color: $Dark-cyan;
            font-size: 2.5rem;
            font-family: $fraun;
           

            small{
                color: $Dark-grayish-blue;
                font-size: 0.9rem;
                font-family: $mont;
                position: relative;
                text-decoration: line-through;
                left:2rem;
                top:-1rem;
            }
        }
        button{
            padding: 15px 0;
            width: 100%;
            border-radius: 10px;
            font-family: $mont;
            font-weight: 700;
            color:$White;
            font-size: 1rem;
            background: $Dark-cyan;
            text-align: center;
            margin-top: 1.5rem;
            cursor: pointer;
            img{
                margin-right: 1rem;
            }
            
        }
       }


    }

     
}